@charset "utf-8";

@import url(reset.css);
@import url(global.css);
/* 📣 초기값, font, header, footer => global.css */

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .inner {
    width: 78.125%;
    max-width: 1500px;
}

/* 🎈.slogan_section */
.slogan_section {
    min-height: 900px;
    padding: 180px 0 100px;
}
.slogan_section .inner {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.slogan_section .heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.slogan_section .title {
    font-size: 9rem;
    font-weight: 500;
    color: var(--label-white);
}
.slogan_section .sub_title {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--label-white);
}
.slogan_section .image_container {
    width: 100%;
    height: auto;
    aspect-ratio: 75 / 32;
    overflow: hidden;
    border-radius: 30px;
}
.slogan_section .image_container figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan_section .image_container img {
   width: 100%;
   transition: 1s;
}
.slogan_section .image_container:hover img {
    transform: scale(1.05);
}

/* 🎈ideology_section */
.ideology_section {
    padding-top: 160px;
    min-height: 900px;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}
.ideology_section .inner {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.ideology_section .heading {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.ideology_section .title {
    font-size: 5.4rem;
    font-weight: 600;
    color: var(--label-white);
}
.ideology_section .title span {
    color: var(--primary-normal);
}
.ideology_section .description {
    font-size: 2rem;
    font-weight: 500;
    color: var(--label-white);
    line-height: 1.4;
}
.marquee_ideology {
    width: auto;
    position: absolute;
    bottom: 100px;
    left: 0;
}
.marquee-ideology {
    width: auto;
    height: 380px;
    display: flex;
    gap: 160px;
}
.marquee-ideology .item {
    width: 780px;
    height: 380px;
    border-radius: 20px;
    border: 1px solid var(--stroke-dark);
    background-color: var(--fill-normal-dark);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ideology_section .animation_container {
    width: 280px;
    height: 200px;
}
.ideology_section .marquee_item {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.ideology_section .item_name {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--label-white);
}
.ideology_section .item_description {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--label-white);
}

/* 🎈.keyword_section */
.keyword_section {
    height: 620px;
    overflow: hidden;
    position: relative;
}
.marquee_frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.marquee-wrap p {
    font-size: 12rem;
    font-weight: 700;
    color: var(--label-white);
    display: flex;
    gap: 80px;
}
.marquee-wrap p span:hover {
    color: var(--label-hover);
}

/* 🎈.process_section */
.process_section {
    padding: 160px 0;
}
.process_section .container {
    display: flex;
    flex-direction: column;
}
.process_list {
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
}
.process_list .heading {
    width: calc(100% / 2 - 6px);
    height: 100px;
    padding: 160px 0;
    position: sticky;
    top: 0;
    left: 0;
}
.process_list .item {
    width: calc(100% / 2 - 6px);
    height: 700px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap:  52px;
}
.precess_index {
    font-size: 2rem;
    font-weight: 500;
    color: #505050;
}
.process_list .title {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--label-white);
}
.process_list .description {
    font-size: 2rem;
    font-weight: 500;
    color: var(--label-white);
    line-height: 1.6;
}
.process_list .animation_container {
    width: 100%;
    height: 200px;
    background-color: var(--fill-normal-dark);
}

/* 🎈.contact_section */
.contact_section {
    padding: 160px 0;
}
.contact_section .hide,
.wrap_btn_zoom {display: none !important;}
.contact_section .inner {
    display: flex;
    justify-content: space-between;
}
.contact_section .heading {
    width: 32.8%;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.contact_section .title {
    font-size: 7.2rem;
    font-weight: 700;
    color: var(--label-white);
}
.contact_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contact_info .item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact_info .name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--label-white);
}
.contact_info .description {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--label-white);
}
.map_area {
    width: 66.4%;
    height: 507px;
    border-radius: 20px;
    overflow: hidden;
}