@charset "utf-8";

@import url(reset.css);
@import url(global.css);
/* 📣 초기값, font, header, footer => global.css */

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .inner {
    width: 78.125%;
    max-width: 1500px;
}

/* 🎈.slogan_section */
.slogan_section {
    min-height: 900px;
    padding: 180px 0 100px;
}
.slogan_section .inner {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.slogan_section .heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.slogan_section .title {
    font-size: 9rem;
    font-weight: 500;
    color: var(--label-white);
}
.slogan_section .sub_title {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--label-white);
}
.slogan_section .image_container {
    width: 100%;
    height: auto;
    aspect-ratio: 75 / 32;
    overflow: hidden;
    border-radius: 30px;
}
.slogan_section .image_container figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan_section .image_container img {
   width: 100%;
   transition: 1s;
}
.slogan_section .image_container:hover img {
    transform: scale(1.05);
}
@media screen and (max-width:1024px) {
    section .inner {
        width: calc(100% - 60px);
    }
    .slogan_section .image_container {
        aspect-ratio: 964 / 640;
        pointer-events: none;
    }
    .slogan_section .image_container figure {
        height: 100%;
    }
    .slogan_section .image_container img {
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width:769px) {
    .slogan_section .title {
        font-size: 7rem;
    }
}
@media screen and (max-width:611px) {
    .slogan_section {
        min-height: auto;
        padding: 160px 0 80px;
    }
    .slogan_section .title {
        font-size: 5rem;
    }
}
@media screen and (max-width:480px) {
    section .inner {
        width: calc(100% - 32px);
        gap: 80px;
    }
    .slogan_section {
        padding: 130px 0 40px;
    }
    .slogan_section .heading {
        gap: 12px;
    }
    .slogan_section .title {
        font-size: 3.2rem;
    }
    .slogan_section .sub_title {
        line-height: 1.6;
    }
    .slogan_section .image_container {
        aspect-ratio: 328 / 460;
    }
}

/* 🎈ideology_section */
.ideology_section {
    padding-top: 160px;
    min-height: 900px;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}
.ideology_section .inner {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.ideology_section .heading {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.ideology_section .title {
    font-size: 5.4rem;
    font-weight: 600;
    color: var(--label-white);
}
.ideology_section .title span {
    color: var(--primary-normal);
}
.ideology_section .description {
    font-size: 2rem;
    font-weight: 500;
    color: var(--label-white);
    line-height: 1.4;
}
.marquee_ideology {
    width: auto;
    position: absolute;
    bottom: 100px;
    left: 0;
}
.marquee-ideology {
    width: auto;
    height: 380px;
    display: flex;
    gap: 160px;
}
.marquee-ideology .item {
    width: 780px;
    height: 380px;
    border-radius: 20px;
    border: 1px solid var(--stroke-dark);
    background-color: var(--fill-normal-dark);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ideology_section .animation_container {
    width: 280px;
    height: 200px;
}
.ideology_section .marquee_item {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.ideology_section .item_name {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--label-white);
}
.ideology_section .item_description {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--label-white);
}
@media screen and (max-width:1024px) {
    .marquee-ideology {
        gap: 32px;
    }
}
@media screen and (max-width:480px) {
    .ideology_section {
        padding: 130px 0 40px;
    }
    .ideology_section .inner {
        gap: 64px;
    }
    .ideology_section .heading {
        gap: 12px;
    }
    .ideology_section .title {
        font-size: 3.2rem;
    }
    .ideology_section .description {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.6;
    }
    .ideology_section .description br {
        display: none;
    }
    .marquee_ideology {
        position: static;
    }
    .marquee-ideology {
        flex-direction: column;
        height: auto;
    }
    .marquee-ideology .item {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 32px;
    }
    .ideology_section .item_name {
        text-align: center;
    }
    .ideology_section .item_description {
        text-align: center;
    }
}

/* 🎈.keyword_section */
.keyword_section {
    height: 620px;
    overflow: hidden;
    position: relative;
}
.marquee_frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.marquee-wrap p {
    font-size: 12rem;
    font-weight: 700;
    color: var(--label-white);
    display: flex;
    gap: 80px;
}
.marquee-wrap p span:hover {
    color: var(--label-hover);
}
@media screen and (max-width:1024px) {
    .keyword_section {
        height: 210px;
    }
    .marquee_frame {
        margin-top: 0;
    }
    .marquee-wrap p {
        font-size: 8rem;
    }
}
@media screen and (max-width:480px) {
    .keyword_section {
        height: 110px;
        padding: 40px;
    }
    .marquee-wrap p {
        font-size: 4rem;
        gap: 16px;
    }
    .marquee-wrap span {
        pointer-events: none;
    }
}

/* 🎈.process_section */
.process_section {
    padding: 160px 0;
}
.process_section .container {
    display: flex;
    flex-direction: column;
}
.process_list {
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
}
.process_list .heading {
    width: calc(100% / 2 - 6px);
    height: 100px;
    padding: 160px 0;
    position: sticky;
    top: 0;
    left: 0;
}
.process_list .item {
    width: calc(100% / 2 - 6px);
    height: 700px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap:  52px;
}
.precess_index {
    font-size: 2rem;
    font-weight: 500;
    color: #505050;
}
.process_list .title {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--label-white);
}
.process_list .description {
    font-size: 2rem;
    font-weight: 500;
    color: var(--label-white);
    line-height: 1.6;
}
.process_list .animation_container {
    width: 100%;
    height: 200px;
    background-color: var(--fill-normal-dark);
}
@media screen and (max-width:1024px) {
    .process_section .container {
        gap: 280px;
    }
    .process_list {
        height: auto;
        flex-direction: column;
        gap: 24px;
    }
    .process_list .heading {
        width: 100%;
        height: auto;
        position: static;
        padding: 0;
    }
    .process_list .item {
        width: 100%;
        height: auto;
        padding: 0;
        gap: 120px;
    }
    .process_list .description {
        font-size: 1.8rem;
        font-weight: 400;
    }
}
@media screen and (max-width:480px) {
    .process_section .container {
        gap: 120px;
    }
    .process_list .title {
        font-size: 2.4rem;
    }
}

/* 🎈.contact_section */
.contact_section {
    padding: 160px 0;
}
.contact_section .hide,
.wrap_btn_zoom {display: none !important;}
.contact_section .inner {
    display: flex;
    justify-content: space-between;
}
.contact_section .heading {
    width: 32.8%;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.contact_section .title {
    font-size: 7.2rem;
    font-weight: 700;
    color: var(--label-white);
}
.contact_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contact_info .item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact_info .name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--label-white);
}
.contact_info .description {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--label-white);
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.map_area {
    width: 66.4%;
    height: 507px;
    border-radius: 20px;
    overflow: hidden;
}
@media screen and (max-width:1024px) {
    .contact_section {
        padding: 160px 0 30px;
    }
    .contact_section .inner {
        flex-direction: column;
        gap: 64px;
    }
    .contact_section .heading {
        width: 100%;
    }
    .contact_section .title {
        font-size: 5.4rem;
    }
    .contact_section .heading {
        gap: 54px;
    }
    .contact_info {
        flex-direction: row;
    }
    .contact_info .item {
        width: calc(100% / 2 - 10px);
    }
    .map_area {
        width: 100%;
        height: 363px;
        display: flex;
        justify-content: center;
    }
    .root_daum_roughmap {
        width: 100%;
        height: 100%;
    }
}